@page
@using Capstone.Website.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Cyberdellic</h1>




    <a href="https://www.tiktok.com/@@cyberdellic">Visit my Tiktok page for more original art</a>

</div>



@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
